<div class="ekart-product-item" appHighlight>
  <div class="ekart-product-badge-container">
    <!-- Wishlist Icon -->`
    <button class="wishlist-btn">
      <i class="fa fa-heart-o" aria-hidden="true"></i>
    </button>

    <!-- Sale Tag -->
    <span class="ekart-sale-tag" *ngIf="product.disc_price">
      {{ (100 - (product.disc_price / product.price * 100)).toFixed(0) }}% OFF
    </span>
  </div>

  <!-- Product Image -->
  <div class="ekart-product-image">
    <img [src]="product.imageURL" [alt]="product.name" class="ekart-product-image-img">
  </div>

  <!-- Product Details -->
  <div class="ekart-product-details">
    <div class="ekart-product-price">₹{{ product.price}}</div>
    <h2 class="ekart-product-name">{{ product.name }}</h2>
    <p class="ekart-product-category">
      {{ product.gender }} | {{ product.category }} | {{ product.brand }}
    </p>
    <p class="ekart-product-colors">{{ product.color.length }} Colors • Best Seller</p>
    <span class="ekart-product-stock"
      [ngStyle]="{'in-stock': product.is_in_inventory, 'out-of-stock': !product.is_in_inventory}">
      {{ product.is_in_inventory ? 'In Stock' : 'Unavailable' }}
    </span>
  </div>
</div>
